<div><%= count %></div>

<img src="<%= file %>" style="display:block; margin: 0 auto; height:300px;">

<div style="display: block; width: 100px; margin: 0 auto">

	<%categories.forEach(function(category) {%>
		<form action="/set" method="post">
			<input type="hidden" name="file" value="<%= file %>">
			<input type="hidden" name="category" value="<%= category %>">
			<input type="submit" value="<%= category %>">
		</form>
	<%})%>

</div>